{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="hs-text">
                        <div class="label"><span>Ennorath mod</span></div>
                            <h3>Новый контент, эксклюзивные карты, необычайные режимы игры</h3>
                        <div class="ht-meta">
                            <img src="{% static 'main/img/hero/meta-pic.jpg' %}" alt="">
                            <ul>
                                <li>by Creative</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 offset-xl-2">
                    <div class="trending-post">
                        <div class="section-title">
                            <h5>Последние обновления</h5>
                        </div>
                        <div class="trending-slider owl-carousel">
                            <div class="single-trending-item">
                                {% for m in mapsUpdate_1 %}
                                <div class="trending-item">
                                    <div class="ti-text">
                                        <h6><a href="{{ m.get_absolute_url }}">{{m.title}}</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa-solid fa-calendar-days"></i>{{m.time_update}}</li>
                                            <li><i class="fa fa-cloud-download"></i>{{m.downloads}}</li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="single-trending-item">
                                {% for m in mapsUpdate_2 %}
                                <div class="trending-item">
                                    <div class="ti-text">
                                        <h6><a href="{{ m.get_absolute_url }}">{{m.title}}</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa-solid fa-calendar-days"></i>{{m.time_update}}</li>
                                            <li><i class="fa fa-cloud-download"></i>{{m.downloads}}</li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'main/img/hero/hero-1.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'main/img/hero/hero-2.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'main/img/hero/hero-3.jpg' %}"></div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Update News Section Begin -->
    <section class="update-news-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h5><span>Популярные карты</span></h5>
                    </div>
                    <div class="tab-elem">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Все</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Tower Defence</a>
                            </li>
                        </ul><!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabs-1" role="tabpanel">
                                <div class="row">
                                    <div class="un-slider owl-carousel">
                                        <div class="col-lg-12">
                                            <div class="un-big-item set-bg" data-setbg="{{mapPopular_1.photo.url}}">
                                                <div class="ub-text">
                                                    <div class="label"><span>{{mapPopular_1.mode}}</span></div>
                                                    <h5><a href="{{ mapPopular_1.get_absolute_url }}">{{mapPopular_1.title}}</a></h5>
                                                    <ul>
                                                        <li>Автор <span>{{mapPopular_1.author}}</span></li>
                                                        <li><i class="fa-solid fa-calendar-days"></i>{{mapPopular_1.time_update}}</li>
                                                        <li><i class="fa fa-cloud-download"></i>{{mapPopular_1.downloads}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% for m in mapsPopular_1 %}
                                                <div class="col-md-4">
                                                    <div class="un-item">
                                                        <div class="un_pic set-bg" data-setbg="{{m.photo.url}}">
                                                            <div class="label"><span>{{m.mode}}</span></div>
                                                        </div>
                                                        <div class="un_text">
                                                            <h6><a href="{{m.photo.get_absolute_url}}">{{m.title}}</a></h6>
                                                            <ul>
                                                                <li><i class="fa-solid fa-calendar-days"></i>{{m.time_update}}</li>
                                                                <li><i class="fa fa-cloud-download"></i>{{m.downloads}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="un-big-item set-bg" data-setbg="{{mapPopular_2.photo.url}}">
                                                <div class="ub-text">
                                                    <div class="label"><span>{{mapPopular_2.mode}}</span></div>
                                                    <h5><a href="{{ mapPopular_2.get_absolute_url }}">{{mapPopular_2.title}}</a></h5>
                                                    <ul>
                                                        <li>Автор <span>{{mapPopular_2.author}}</span></li>
                                                        <li><i class="fa-solid fa-calendar-days"></i>{{mapPopular_2.time_update}}</li>
                                                        <li><i class="fa fa-cloud-download"></i>{{mapPopular_2.downloads}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% for m in mapsPopular_2 %}
                                                <div class="col-md-4">
                                                    <div class="un-item">
                                                        <div class="un_pic set-bg" data-setbg="{{m.photo.url}}">
                                                            <div class="label"><span>{{m.mode}}</span></div>
                                                        </div>
                                                        <div class="un_text">
                                                            <h6><a href="{{m.photo.get_absolute_url}}">{{m.title}}</a></h6>
                                                            <ul>
                                                                <li><i class="fa-solid fa-calendar-days"></i>{{m.time_update}}</li>
                                                                <li><i class="fa fa-cloud-download"></i>{{m.downloads}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="tabs-2" role="tabpanel">
                                <div class="row">
                                    <div class="un-slider owl-carousel">
                                        <div class="col-lg-12">
                                            <div class="un-big-item set-bg" data-setbg="{{mapPopular_1.photo.url}}">
                                                <div class="ub-text">
                                                    <div class="label"><span>{{mapPopular_1.mode}}</span></div>
                                                    <h5><a href="{{ mapPopular_1.get_absolute_url }}">{{mapPopular_1.title}}</a></h5>
                                                    <ul>
                                                        <li>Автор <span>{{mapPopular_1.author}}</span></li>
                                                        <li><i class="fa-solid fa-calendar-days"></i>{{mapPopular_1.time_update}}</li>
                                                        <li><i class="fa fa-cloud-download"></i>{{mapPopular_1.downloads}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% for m in mapsPopular_1 %}
                                                <div class="col-md-4">
                                                    <div class="un-item">
                                                        <div class="un_pic set-bg" data-setbg="{{m.photo.url}}">
                                                            <div class="label"><span>{{m.mode}}</span></div>
                                                        </div>
                                                        <div class="un_text">
                                                            <h6><a href="{{m.photo.get_absolute_url}}">{{m.title}}</a></h6>
                                                            <ul>
                                                                <li><i class="fa-solid fa-calendar-days"></i>{{m.time_update}}</li>
                                                                <li><i class="fa fa-cloud-download"></i>{{m.downloads}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="un-big-item set-bg" data-setbg="{{mapPopular_2.photo.url}}">
                                                <div class="ub-text">
                                                    <div class="label"><span>{{mapPopular_2.mode}}</span></div>
                                                    <h5><a href="{{ mapPopular_2.get_absolute_url }}">{{mapPopular_2.title}}</a></h5>
                                                    <ul>
                                                        <li>Автор <span>{{mapPopular_2.author}}</span></li>
                                                        <li><i class="fa-solid fa-calendar-days"></i>{{mapPopular_2.time_update}}</li>
                                                        <li><i class="fa fa-cloud-download"></i>{{mapPopular_2.downloads}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% for m in mapsPopular_2 %}
                                                <div class="col-md-4">
                                                    <div class="un-item">
                                                        <div class="un_pic set-bg" data-setbg="{{m.photo.url}}">
                                                            <div class="label"><span>{{m.mode}}</span></div>
                                                        </div>
                                                        <div class="un_text">
                                                            <h6><a href="{{m.photo.get_absolute_url}}">{{m.title}}</a></h6>
                                                            <ul>
                                                                <li><i class="fa-solid fa-calendar-days"></i>{{m.time_update}}</li>
                                                                <li><i class="fa fa-cloud-download"></i>{{m.downloads}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock%}