{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="{% static 'main/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h3>Категория: <span>{{title}}</span></h3>
                        <div class="bt-option">
                            <a href="{% url 'home' %}">Главная</a>
                            <span>{{title}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Categories list Section Begin -->
    <section class="categories-list-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    {% for p in posts %}
                    <div class="cl-item">
                        <div class="cl-pic">
                            <img src="{{p.photo.url}}">
                        </div>
                            <div class="cl-text">
                                <div class="label"><span>{{p.cat}}</span></div>
                                <h5><a href="{{ p.get_absolute_url }}">{{p.title}}</a></h5>
                                <ul>
                                    <li>Автор: <span> {{p.author}}</span></li>
                                    <li>Обновление: <i class="fa-solid fa-calendar-days"></i> {{p.time_update|date:"d-m-Y H:i:s"}}</li>
                                    <li>Просмотры: <i class="fa-solid fa-eye"></i> {{p.views}}</li>
                                </ul>
                                {% autoescape off %}
                                <p>{{p.content|truncatewords:25}}</p>
                                {% endautoescape %}
                            </div>
                    </div>
                    {% endfor %}
                    <div class="pagination-item" id="pagination-item">

                    </div>
                </div>
            {% show_sidebar %}
            </div>
        </div>
    </section>
    <!-- Categories List Section End -->
{% endblock %}