<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'builder/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'builder/css/style.css' %}" type="text/css">
</head>
<body>
    <header>
      <a href="{% url 'home' %}">
        <div class="header-element">
          <button class="Btn">
            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
            <div class="text">Назад</div>
          </button>
        </div>
      </a>
      <div class="header-element">
        <div class="volume">
          <input type="checkbox" class="volume-input" id="audio-switch" />
          <div class="volume-icon">
            <svg
              viewBox="0 0 24 24"
              width="24"
              height="24"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="volume-svg"
            >
              <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
              <path
                d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="header-element">
        <div class="volume">
          <input type="checkbox" class="volume-input" id="full-screen" />
          <div class="volume-icon">
              <?xml version="1.0" ?><svg class="volume-svg" enable-background="new 0 0 32 32" height="32px" id="svg2" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g id="background"><rect fill="none" height="32" width="32"/></g><g id="fullscreen"><path d="M20,8l8,8V8H20z M4,24h8l-8-8V24z"/><path d="M32,28V4H0v24h14v2H8v2h16v-2h-6v-2H32z M2,26V6h28v20H2z"/></g></svg>
          </div>
        </div>
      </div>
    </header>
    <div class="video-background">
      <button class="display-none" id="audio" onclick="sound.play();"></button>
    </div>
    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.js"></script>

    <script src="{% static 'builder/js/elements.js' %}"></script>
    <script src="{% static 'builder/js/header.js' %}"></script>
    <script src="{% static 'builder/js/navigation.js' %}"></script>

    <script src="{% static 'builder/js/main/main.js' %}"></script>
    <script src="{% static 'builder/js/main/objects.js' %}"></script>
    <script src="{% static 'builder/js/main/main-nav.js' %}"></script>
    <script src="{% static 'builder/js/main/objects-nav.js' %}"></script>

    <script src="{% static 'builder/js/modes/tower-defence/tower-defence.js' %}"></script>
    <script src="{% static 'builder/js/modes/tower-defence/tower-defence-nav.js' %}"></script>

    <script src="{% static 'builder/js/index.js' %}"></script>

</body>
</html>