{% extends 'builder/base.html' %}
{% load static %}

{% block content %}
<div id="Container">
  <div class="form" data-nav-module="Конструктор карт" data-context-menu="False">
      <div class="close-modal display-none">
          <img src="{% static 'builder/img/icon-remove.jpg' %}">
      </div>
      <div class="form-lable h1" id="main-label">Конструктор карт</div>
      <div class="container container-main">
          <input class="form-content button" id="map-display" type="button" value="Отображение" />
          <input class="form-content button" id="game-mode" type="button" value="Режим"/>
          <input class="form-content button" id="map-design" type="button" value="Дизайн" />
          <input class="form-content button" id="map-configuration" type="button" value="Конфигурация" />
          <input class="form-content button" id="object-editor" type="button" value="Редактировние объектов" />
      </div>

    <div class="container-display container display-none">
      <input class='form-content map-name' type='text' placeholder='Название карты' autocomplete='off'>
      <input class='form-content map-version' type='text' placeholder='Версия карты' autocomplete='off'>
      <textarea class="form-content map-desc" placeholder="Это описание вашей карты, здесь вы можете ввести любое количество текста, расширив поле"></textarea>
      <label class="form-content user-map-image-name" for="upload-photo">Ваше изображение карты...<?xml version="1.0" ?><svg height="24" version="1.1" width="24" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -1028.4)"><path d="m23 1048.4c0 1.1-0.895 2-2 2h-8-4-6c-1.1046 0-2-0.9-2-2v-14c0-1.1 0.8954-2 2-2h6 4 4 4c1.105 0 2 0.9 2 2v4 10z" fill="#95a5a6"/><path d="m1 1047.4c0 1.1 0.8954 2 2 2h8 4 6c1.105 0 2-0.9 2-2v-14c0-1.1-0.895-2-2-2h-6-4-4-4c-1.1046 0-2 0.9-2 2v4 10z" fill="#bdc3c7"/><rect fill="#f39c12" height="14" transform="translate(0 1028.4)" width="18" x="3" y="5"/><path d="m16.625 8.625-10.344 10.375h14.719v-6l-4.375-4.375z" fill="#e67e22" transform="translate(0 1028.4)"/><path d="m8 8a2 2 0 1 1 -4 0 2 2 0 1 1 4 0z" fill="#f1c40f" transform="matrix(1.75 0 0 1.75 -3 1024.4)"/><path d="m8.0938 11.094-5.0938 5.094v2.812h13l-7.9062-7.906z" fill="#d35400" transform="translate(0 1028.4)"/></g></svg></label>
      <input class="user-map-image" type="file" id="upload-photo" />
    </div>

    <div class="container-modes display-none">
      <div class="card">
        <img src="{% static 'builder/img/Tower Defence.jpg' %}">
        <div class="card__head">Tower Defence</div>
      </div>
      <div class="card">
        <img src="{% static 'builder/img/Base Defence.jpg' %}">
        <div class="card__head">Base Defence</div>
      </div>
      <div class="card">
        <img src="{% static 'builder/img/Capture the Flag.jpg' %}">
        <div class="card__head">Capture the Flag</div>
      </div>
      <div class="card">
        <img src="{% static 'builder/img/Battle Royale.jpg' %}">
        <div class="card__head">Battle Royale</div>
      </div>
      <div class="card">
        <img src="{% static 'builder/img/Deathmatch.jpg' %}">
        <div class="card__head">Deathmatch</div>
      </div>
      <div class="card">
        <img src="{% static 'builder/img/Moba.jpg' %}">
        <div class="card__head">Moba</div>
      </div>
      <div class="card">
        <img src="{% static 'builder/img/Survival.jpg' %}">
        <div class="card__head">Survival</div>
      </div>
      <div class="card">
        <img src="{% static 'builder/img/Co-op.jpg' %}">
        <div class="card__head">Co-op</div>
      </div>
    </div>

    <div class="container-design display-none">
      <ul>
      </ul>
    </div>

    <div class="container-configuration display-none">
    </div>

    <div class="container-objects display-none">
      <div class="list-factions container">
        <input class="form-content button" id="Men" type="button" value="Гондор"/>
        <input class="form-content button" id="Rohan" type="button" value="Рохан"/>
        <input class="form-content button" id="Arnor" type="button" value="Арнор"/>
        <input class="form-content button" id="Elves" type="button" value="Лотлориэн"/>
        <input class="form-content button" id="Imladris" type="button" value="Имладрис"/>
        <input class="form-content button" id="Dwarves" type="button" value="Гномы"/>
        <input class="form-content button" id="Isengard" type="button" value="Изенгард"/>
        <input class="form-content button" id="Mordor" type="button" value="Мордор"/>
        <input class="form-content button" id="Wild" type="button" value="Мглистые горы"/>
        <input class="form-content button" id="Harad" type="button" value="Харад"/>
        <input class="form-content button" id="Angmar" type="button" value="Ангмар"/>
        <input class="form-content button" id="Neutral" type="button" value="Нейтральные"/>
      </div>
      <div class="list-kindOf container display-none">
        <div class="radio-item radio-single-units"><input name="objectType" id="SingleUnits" type="radio" checked><label for="SingleUnits">Одиночные объекты</label></div>
        <div class="radio-item radio-horde"><input name="objectType" id="Horde" type="radio"><label for="Horde">Отряды</label></div>
        <input class="form-content button button-single swordsman" data-filter="Swordsman" type="button" value="Мечники"/>
        <input class="form-content button button-single pike" data-filter="Pike" type="button" value="Копейщики"/>
        <input class="form-content button button-single archer" data-filter="Archer" type="button" value="Лучники"/>
        <input class="form-content button button-single cavalry" data-filter="Cavalry" type="button" value="Кавалерия"/>
        <input class="form-content button button-single hero" data-filter="Hero" type="button" value="Герои"/>
        <input class="form-content button button-single monster" data-filter="Monster" type="button" value="Монстры"/>
        <input class="form-content button button-single siegeengine" data-filter="Siegeengine" type="button" value="Осадные орудия"/>
        <input class="form-content button button-horde swordsman-horde display-none" data-filter="Swordsman-horde" type="button" value="Мечники"/>
        <input class="form-content button button-horde pike-horde display-none" data-filter="Pike-horde" type="button" value="Копейщики"/>
        <input class="form-content button button-horde archer-horde display-none" data-filter="Archer-horde" type="button" value="Лучники"/>
        <input class="form-content button button-horde cavalry-horde display-none" data-filter="Cavalry-horde" type="button" value="Кавалерия"/>
        <input class="form-content button" data-filter="All" type="button" value="Все объекты"/>
      </div>
      <div class="list-objects display-none">
        <ul>
        </ul>
      </div>
      <div class="view-object container display-none">
      </div>
    </div>

    <button class="main-button" id="map-save">Сохранить</button>
    <button class="main-button" id="map-create">Создать карту</button>
  </div>
</div>

{% endblock%}